@use '../variables.scss';
@use '../mixins.scss';

@keyframes showAbout {
  from{
    opacity: 0;
    transform: translateY(-100%);
  }
  to{
    opacity: 1;
    transform: translateY(0);

  }
}

@keyframes typing {
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}

.container-about{
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 200px 100px 0 0;
  gap: 50px;
  animation: showAbout .5s;
  @include mixins.notebook{
    padding: 400px 100px 0 0;
  }
  @include mixins.tablet{
    justify-content: center;
    padding: 400px 0 0 50px;
    gap: 90px;
  }
  @include mixins.phone2{
    justify-content: center;
    padding: 300px 0 0 0;
    gap: 0;
  }
  .texts{
    width: 30%;
    color: #FFF;
    font-family: variables.$logo-fontFamily;
    text-align: left;
    @include mixins.about-notebook{
      width: 40%;
    }
    @include mixins.tablet{
      width: 50%;
      text-align: center;
    }
    @include mixins.phone2{
      text-align: center;
      width: 100%;
      padding: 0 24px;
      height: 60vh;
    }

    h1{
      color: variables.$menu-fontColor;
      font-size: 100px;
      overflow: hidden;
      white-space: nowrap;
      animation: typing 1s steps(30, end);
      @include mixins.about-notebook{
        font-size: 90px;
      }
      @include mixins.tablet{
        font-size: 70px;
      }
      @include mixins.phone2{
        font-size: 60px;
        margin-bottom: 24px;
      }
    }
    p{
      font-family: variables.$menu-dateFontStyle;
      font-weight: 300;
      text-align: left;
      @include mixins.tablet{
        text-align: center;
      }
    }
  }
  .photo{
    margin-top: 15px;
    img{
      width: 300px;
      @include mixins.tablet{
        display: none;
      }
    }
  }
}
