@use '../variables.scss';
@use '../mixins.scss';

@keyframes showAbout {
  from{
    opacity: 0;
    transform: translateX(-100px);
  }
  to{
    opacity: 1;
    transform: translate(0);
  }
}

.container-about{
  display: flex;
  justify-content: right;
  gap: 71px;
  align-items: center;
  padding: 270px 50px 0 0;
  animation: showAbout .5s;
  max-height: 100%;
  @include mixins.menuProjects-notebook1{
    gap: 31px;
  }
  @include mixins.notebook2{
    padding: 470px 50px 0 0;
  }
  @include mixins.phone2{

    padding: 290px 0 0 0;
    gap: 0;
  }
  .texts{
    width: 600px;
    color: #FFF;
    @include mixins.menuProjects-notebook1{
      width: 500px;
    }
    @include mixins.phone2{
      width: 100%;
      text-align: center;
      height: 120%;
      padding: 16px;
    }
    h1{
      font-family: variables.$logo-fontFamily;
      font-size: 128px;
      margin-bottom: 18px;
      color: variables.$menu-fontColor;
      @include mixins.menuProjects-notebook1{
        font-size: 110px;
      }
      @include mixins.about-notebook{
        font-size: 100px;
      }
      @include mixins.phone2{
        font-size: 60px;
      }
    }
    p{
      font-size: 24px;
      @include mixins.phone2{
        font-size: 16px;
      }
      span{
        color: variables.$span-textColor;
      }
    }
  }
  .photo{
    display: flex;
    justify-content: center;
    img{
      @include mixins.tablet{
        display: none;
      }
      @include mixins.notebook2{
        width: 250px;
      }
    }
  }
}
